.default {
	list-style: none;
	margin-top: var(--padding-main-1);
	padding: var(--padding-main-1-half);
	border-radius: 1rem;
}

.default li {
	margin: var(--padding-main-1-half);
}
[dir='ltr'] .default li,
.default li {
	margin-left: 0;
}
[dir='rtl'] .default li {
	margin-right: 0;
}
.default li:first-child {
	margin-top: 0;
}
.default li:last-child {
	margin-bottom: 0;
}

.danger {
	color: darkred;
	border: 0.1rem solid darkred;
	background-color: palevioletred;
}
