.header {
	background-color: var(--main-bg-color-1);
	padding: var(--padding-main-1-half);
	display: flex;
	flex-direction: column;
	margin-bottom: var(--padding-main-1-half);
	text-align: center;
}
.header > * {
	margin: var(--padding-main-1-quarter) 0;
}
.header > *:first-child {
	margin-top: 0;
}
.header > *:last-child {
	margin-bottom: 0;
}

.buttonsHolder {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.buttonsHolder > * {
	margin: 0 var(--padding-main-1-half);
}
[dir='rtl'] .buttonsHolder > *:last-child,
.buttonsHolder > *:first-child {
	margin-left: 0;
}
.buttonsHolder > *:last-child,
[dir='rtl'] .buttonsHolder > *:first-child {
	margin-right: 0;
}
