.comment {
	margin: 0.5em auto;
}

.comment:first-child {
	margin-top: 0em;
}

.comment:last-child {
	margin-bottom: 0em;
}

body:not([dir='rtl']) .type-comment_main_reply {
	margin-left: 0.5em;
}
body[dir='rtl'] .type-comment_main_reply {
	margin-right: 0.5em;
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav {
	display: flex;
	align-items: center;
}

.profile_picture-container {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	overflow: hidden;
	--lazy-load-image-background-height: 100%;
}
body:not([dir='rtl']) .profile_picture-container {
	margin-right: 0.25em;
}
body[dir='rtl'] .profile_picture-container {
	margin-left: 0.25em;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.comments_counter {
	margin: 0 0.25em;
}

.comment_content {
	padding: 0.25em 0.125em;
}
