.userProfileHeroSectionWrapper {
	background-color: var(--main-bg-color-0);
	--sectionWrapper-margin-bottom: var(--padding-main-1-three-quarters);
}

/* * + .mainContent {
	margin-bottom: calc(var(--padding-main-1-half) * -1);
} */

.mainContent {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: var(--padding-main-1-three-quarters);
}

.mainContent > section:nth-child(1) {
	width: calc(75% - var(--padding-main-1-half));
}
.mainContent > section:nth-child(2) {
	width: 25%; /*calc(25% - var(--padding-main-1-half));*/
	min-height: 10rem;
	margin: 0;
}

@media screen and (max-width: 700px) {
	.mainContent {
		flex-direction: column;
	}

	.mainContent > section:nth-child(1),
	.mainContent > section:nth-child(2) {
		width: 100%;
	}

	.mainContent > section:nth-child(1) {
		order: 2;
	}

	.mainContent > section:nth-child(2) {
		order: 1;
		margin-bottom: var(--padding-main-1-half);
	}
}
