.form {
	display: flex;
	min-width: 99%;
	max-width: unset;
	flex-direction: column;
}

.form-control {
	max-width: unset;
	width: 100%;
}

.form-text-area,
.form-input {
	width: 85%;
}

.form-text-area {
	max-width: 100%;
	min-width: 75%;
	min-height: 5rem;
}

@media screen and (max-width: 700px) {
	.form {
		justify-content: center;
		align-items: center;
	}
}
