.accordion {
	--toggltButtonSize: 1;
	--accordionContainerBorderBottomSize: 1;
}

.accordion-container {
	border-bottom: calc(0.5rem * var(--accordionContainerBorderBottomSize)) solid
		var(--main-special-bg-color-2);
	padding-bottom: 0.25em;
	margin: 0.25em auto;
}

.accordion-container.toggle {
	border: calc(0.5rem * var(--accordionContainerBorderBottomSize) * 0.95) solid
		var(--main-special-bg-color-3);
	border-bottom: calc(0.5rem * var(--accordionContainerBorderBottomSize)) solid
		var(--main-special-bg-color-5);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.accordion-header {
	position: relative;
}

.accordion-header .container {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.toggle-accordion-button-container {
	--size: calc(4rem * var(--toggltButtonSize));
	width: var(--size);
	height: var(--size);
	min-width: var(--size);
	min-height: var(--size);
	border-radius: 50%;
	overflow: hidden;
	transition: all 0.3s ease-in;
}

.toggle-accordion-button {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: all 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	background-color: var(--main-special-bg-color-1);
	outline-color: var(--main-special-bg-color-1);
	border-color: transparent;
	position: relative;
}

.toggle-accordion-button-container.toggle {
	transform: rotate(180deg);
}

.arrow-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.toggle-accordion-button::before,
.toggle-accordion-button::after {
	content: '';
	width: 100%;
	height: 20%;
	background-color: var(--main-special-bg-color-5);
	position: absolute;
	top: 60%;
	left: 0%;
}

.toggle-accordion-button::before {
	transform: translate(20%, 0%) rotate(45deg);
}

.toggle-accordion-button::after {
	transform: translate(-40%, 0%) rotate(-45deg);
}

.accordion-body {
	overflow: hidden;
	transition: all 0.6s ease-in-out;
}

.accordion-body:not(.toggle) {
	overflow-y: auto;
	height: 0;
}

@media screen and (max-width: 400px) {
	.accordion {
		--reduce: 0.6;
	}
}
