.sign-up-form {
	background-color: var(--main-bg-color-1);
}

.resident-FormControl {
	max-width: min(95%, 30rem);
}

.gender-select-fieldset {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1.25em auto;
	width: fit-content;
}

.gender-FormControl {
	margin: 0 0.5em;
	margin-top: 0.25em;
	width: fit-content;
}

.submit-button-FormControl {
	margin-top: 1.5em;
}
