.settingsButton {
	background-color: transparent;
	border-color: transparent;
	outline-color: rgba(0, 0, 0, 0.1);
	outline-style: solid;
	outline-width: 0.25rem;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}
