.containerBody {
	padding: 0 var(--padding-main-1-quarter);
	margin: var(--padding-main-1-half) 0;
}

.container {
	max-width: 80rem;
	background-color: var(--main-bg-color-0);
}
.deleteModalContainer {
	background-color: var(--main-bg-color-1);
}
