.profileAndCoverContainer {
	position: relative;
	width: 100%;
}

.coverPhotoOuterContainer {
	width: 100%;
	height: calc(20vh + 20vw);
	max-height: 25rem;
	min-height: 15rem;
}

.coverPhotoInnerContainer,
.profilePictureInnerContainer {
	position: relative;
	overflow: hidden;
	background-color: var(--main-bg-color-3);
	width: 100%;
	height: 100%;
}

.coverPhoto {
	position: relative;
	width: 100%;
	height: 100%;
}

/*
.profilePictureContainer .editButton,
.coverPhotoContainer .editButton {
	position: absolute;
	bottom: 0;
	opacity: 0.4;
	z-index: 2;
}

:not([dir='rtl']) .profilePictureContainer .editButton,
:not([dir='rtl']) .coverPhotoContainer .editButton {
	right: 0;
}
[dir='rtl'] .profilePictureContainer .editButton,
[dir='rtl'] .coverPhotoContainer .editButton {
	left: 0;
}

.coverPhotoContainer:hover .editButton,
.coverPhotoContainer:focus-within .editButton {
	opacity: 1;
}

.profilePictureContainer:hover .editButton,
.profilePictureContainer:focus-within .editButton {
	opacity: 1;
}
*/

.profilePictureOuterContainer {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate(0%, 50%);
	display: flex;
	align-items: center;
	justify-content: flex-end;

	height: 25vw;
	max-height: 20rem;
	min-height: 12.5rem;

	width: 25vw;
	max-width: 20rem;
	min-width: 12.5rem;
	margin: 0 var(--padding-main-1-three-quarters);
}

[dir='rtl'] .profilePictureOuterContainer {
	left: 0;
}

.profilePictureInnerContainer {
	border-radius: 50%;
}

.profilePicture {
	width: 105%;
	height: 105%;
}

.basicData {
	padding: var(--padding-main-1-half);
}

.basicData > *:not(address),
.basicData address > * {
	margin: var(--padding-main-1-quarter) 0;
}
.basicData > *:first-child,
.basicData address > *:first-child {
	margin-top: 0;
}
.basicData > *:last-child,
.basicData address > *:last-child {
	margin-bottom: 0;
}

@media screen and (max-width: 400px) {
	.profilePictureOuterContainer,
	[dir='rtl'] .profilePictureOuterContainer {
		right: 50%;
		transform: translate(50%, 50%);
		margin: 0;
	}
	.basicData {
		margin-top: 2em;
	}
}
