/* .progress-bar-container {
	--progress-bar-length: 0;
	--progress-bar-color: darkblue;
	width: 100%;
	margin: 0.5em auto;
} */

.progress-bar {
	--progress-bar-length: 0;
	--progress-bar-color: darkblue;
	width: 100%;
	margin: 0.5em auto;
	min-height: 1rem;
	width: calc(1% * var(--progress-bar-length));
	background-color: var(--progress-bar-color);
	border-radius: 0.4rem;
}
