.signUpForm {
	background-color: var(--main-bg-color-1);
	width: 60rem;
	max-width: 95%;
	align-items: center;
}

.formControl {
	align-items: center;
}

.residentFormControl {
	max-width: min(95%, 30rem);
}

.genderSelectFieldset {
	display: flex;
	justify-content: center;
	margin: 1.25em auto 0em auto;
	width: fit-content;
}

.genderFormControl {
	margin: 0 0.5em;
	margin-top: 0.25em;
	width: fit-content;
}

.submitButtonFormControl {
	margin-top: 1em;
}
