.form-input {
	height: 2.5rem;
	min-height: fit-content;
	padding: 0.25em;
	border: 0.15rem solid transparent;
	border-bottom: 0.1rem solid var(--main-special-color);
	outline: var(--main-special-color-light);
	background-color: transparent;
	transition: all 0.3s ease-in;
}

.form-input:focus {
	height: 3rem;
	font-size: calc(var(--current-font-size) + 0.2rem);
	padding: 0.5em;
	padding-bottom: 0.25em;
	border-bottom: 0.35rem solid var(--main-color-3-30);
	background-color: var(--main-special-color-light);
}

.form-input-radio {
}
