.form-input {
	height: 2.5rem;
	min-height: fit-content;
	padding: 0.25em;
	border: 0.15rem solid transparent;
	border-bottom: 0.1rem solid var(--main-bg-color-50);
	outline: var(--main-bg-color-1_4);
	background-color: transparent;
	transition: all 0.3s ease-in;
}

.form-input:focus {
	height: 3rem;
	font-size: calc(var(--current-font-size) + 0.2rem);
	padding: 0.5em;
	padding-bottom: 0.25em;
	border-bottom: 0.35rem solid var(--main-bg-color-30);
	background-color: var(--main-bg-color-95);
}

.form-input-radio {
}
