.settings {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.25em auto;
}

.item {
	--item-padding: 0.25em;
	padding: var(--item-padding);
	user-select: none;
}

.item button {
	background-color: transparent;
	border-color: transparent;
	outline-color: rgba(255, 255, 255, 0.1);
	font-weight: 600;
}

@media screen and (max-width: 265px) {
	.settings {
		flex-direction: column;
		justify-content: center;
	}
}
