.formatContainer {
	margin: var(--padding-main-1-half) 0;
}

.detailContainer {
	position: relative;
}

.detailContainer hr {
	display: none;
}

.detailContainer.notAllTheDetails .details {
	height: 10rem;
	overflow: hidden;
}

.detailContainer.notAllTheDetails::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		360deg,
		hsl(0, 0%, 10%),
		transparent,
		transparent
	);
}

.detailContainer.notAllTheDetails .details,
.detailContainer.notAllTheDetails::after {
	border-bottom-right-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
}
