.FormControls {
	max-width: 100%;
	margin: var(--padding-main-1-quarter);
	margin-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	transition: all ease-in var(--main-transition-duration);
}

*:last-child .form-controls {
	margin-bottom: 0;
}

@media screen and (max-width: 700px) {
	.form-controls-2 {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
