.img_wrapper {
	width: 100%;
	/* min-height: min(50vh, 20rem); */
	max-height: min(50vh, 30rem);
	margin: 0.5em 0;
}

.img_wrapper span {
	width: 100% !important;
	position: revert !important;
	height: revert !important;
	max-height: revert!important;
}

.img_wrapper span img {
	object-fit: revert;
	object-position: center;
	position: revert !important;
	width: revert !important;
	height: revert !important;
	min-width: revert !important;
	max-width: 100% !important;
	min-height: revert !important;
	max-height: 100% !important;
}

.title .isLoadingSkeleton {
	--skeleton-loading-width: 95%;
	--skeleton-loading-height: 1.5rem;
}

.img_wrapper.isLoadingSkeleton {
	--skeleton-loading-height: min(50vh, 20rem);
	min-height: 10rem;
}

.tags.isLoadingSkeleton {
	--skeleton-loading-width: 60%;
	--skeleton-loading-height: 1.5rem;
}
