.status {
	display: flex;
	align-items: center;
	margin: 0.5em 0;
	overflow-y: auto;
}

.status-item {
	margin: 0 0.25em;
}

body:not([dir='rtl']) .status-item:first-child,
body[dir='rtl'] .status-item:last-child {
	margin-left: 0;
}
body:not([dir='rtl'])
	.status-item:last-child
	body[dir='rtl']
	.status-item:first-child {
	margin-right: 0;
}

.votes {
	display: flex;
	align-items: center;
}

.vote {
	margin: 0 0.125em;
	cursor: default;
}

body:not([dir='rtl']) .vote:first-child,
body[dir='rtl'] .vote:last-child {
	margin-left: 0;
}
body:not([dir='rtl']) .vote:last-child,
body[dir='rtl'] .vote:first-child {
	margin-right: 0;
}
