.main-intro {
	--svg-animation-duration: 2s;
	user-select: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-special-bg-color-5);
	z-index: 9999;
	animation: removeMainIntroInHorizontal 0.7s ease-in-out
		var(--svg-animation-duration) forwards;
	transition: all 0.7s ease-in-out,
		opacity calc(var(--svg-animation-duration) + 1) ease-in-out 0.5s,
		animation var(--svg-animation-duration) ease-in-out;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.svg-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	min-width: 90%;
	max-width: 90%;
	margin: auto;
	background-color: transparent;
}

.main-intro svg {
	/* 3036  */
	width: 100%;
	height: 100%;
	stroke-dasharray: 40477;
	stroke-dashoffset: 40477;
	opacity: 0.5;
	animation: sign calc(var(--svg-animation-duration) - 0.2)
		cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
	transition: all 0.3s ease-in-out;
}

/* .main-intro.verifying-credentials-finished {
transform: translateX(-100%);
	pointer-events: none;
	opacity: 0;
} */

/* .main-intro.verifying-credentials-finished .svg-container svg {
transform: translateX(60%) rotate(90deg) scale(0.4);
} */

/**/

/* .main-intro.setVertical.verifying-credentials-finished {
transform: translateY(-100%);
} */

.main-intro.setVertical {
	animation: removeMainIntroInVertically 0.7s ease-in-out
		var(--svg-animation-duration) forwards;
}

.main-intro.setVertical .svg-container {
	transform: rotate(90deg);
	transition: transform 0s ease;
}

.main-intro.setVertical svg {
	transform: scale(1.1);
	width: min(100%, 100vh);
}

/* .main-intro.setVertical.verifying-credentials-finished .svg-container svg {
transform: translateX(110%) rotate(-90deg) scale(0.4);
} */

@keyframes sign {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

@keyframes removeMainIntroInHorizontal {
	to {
		transform: translateX(-100%);
		pointer-events: none;
		opacity: 0;
	}
}
@keyframes removeMainIntroInVertically {
	to {
		transform: translateY(-100%);
		pointer-events: none;
		opacity: 0;
	}
}

/**/
/**/
/**/

/*
.close-main-intro-button-container {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 6rem;
	height: 6rem;
	transform: translateY(100%);
}
.close-main-intro-button-container button {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0.4;
	transition: opacity 0.3s ease-in;
}
.close-main-intro-button-container button::before,
.close-main-intro-button-container button::after,
.close-main-intro-button-container button span {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 10%;
	background: black;
	transform-origin: center;
	z-index: 2;
}
.close-main-intro-button-container button.disappear {
	transition: opacity 0.1s ease-in;
	opacity: 0;
}
.close-main-intro-button-container button span:nth-child(1),
.close-main-intro-button-container button span:nth-child(2) {
	z-index: 3;
}
.close-main-intro-button-container button::before,
.close-main-intro-button-container button span:nth-child(1) {
	transform: translateY(-50%) rotate(45deg);
}
.close-main-intro-button-container button::after,
.close-main-intro-button-container button span:nth-child(2) {
	transform: translateY(-50%) rotate(-45deg);
}
.close-main-intro-button-container button:hover {
	opacity: 0.6;
}
.close-main-intro-button-container button:focus-within {
	opacity: 0.9;
}
.close-main-intro-button-container button:hover:before,
.close-main-intro-button-container button:hover:after {
	box-shadow: 0rem 0rem 1rem 0.1rem white;
}
.close-main-intro-button-container button:focus-within:before,
.close-main-intro-button-container button:focus-within:after {
	box-shadow: 0rem 0rem 1.5rem 0.2rem white;
}

@media screen and (max-height: 600px) {
	.main-intro.setVertical svg {
		transform: scale(1);
	}
}

@media screen and (max-height: 500px) {
	.main-intro.setVertical svg {
		transform: scale(0.7);
	}
}
*/
