.main-intro {
	user-select: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: var(--main-special-bg-color-5);
	z-index: 10;
	transition: all 0.6s ease-in-out;
}

.main-intro.remove-intro {
	animation: removeMainIntroInHorizontally 0.4s ease-in-out 0.9s forwards;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.svg-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	min-width: 90%;
	max-width: 90%;
	margin: auto;
	background-color: transparent;
	transition-duration: 0s;
}

.main-intro svg {
	/* 3036  */
	width: 100%;
	height: 100%;
	stroke-dasharray: 40477;
	stroke-dashoffset: 40477;
	opacity: 0.5;
	transition: stroke-dashoffset 0.7s cubic-bezier(0.46, 0.7, 1, 0.69),
		opacity 0.7s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.main-intro .svg-container.draw-signature svg {
	opacity: 1;
	stroke-dashoffset: 0;
}

/**/

.main-intro.window-is-vertical .svg-container {
	height: 20vh;
	transform: rotate(90deg);
}

.main-intro.remove-intro.window-is-vertical {
	animation: removeMainIntroInVertically 0.5s ease-in-out 0.9s forwards;
}

/* .main-intro.window-is-vertical .svg-container svg {
	transform: translateX(100%) rotate(90deg) scale(0.4);
} */

@keyframes removeMainIntroInHorizontally {
	to {
		transform: translateX(-100%);
		pointer-events: none;
		opacity: 0;
	}
}

@keyframes removeMainIntroInVertically {
	to {
		transform: translateY(-100%);
		pointer-events: none;
		opacity: 0;
	}
}
