/* .form {
	--form-min-width: fit-content;
} */

.default {
	background-color: var(--main-bg-color-1);
	padding: var(--padding-main-1-half) var(--padding-main-1-quarter);
	width: var(--default-min-width);
	margin: 0 auto;
	border-radius: 1.5rem;
	transition: var(--main-transition-duration) all ease-in;

	display: flex;
	flex-direction: column;
}
.default:hover {
	border-radius: 1rem;
}
.default:focus-within {
	border-radius: 0.5rem;
}
