.border {
	border-color: rgba(255, 255, 255, 0.1);
	outline-color: rgba(255, 255, 255, 0.1);

	border: 0rem solid transparent;
	border-bottom: 0.15rem solid var(--main-special-bg-color-2);
}

.border:hover {
	border-bottom: 0.3rem solid var(--main-special-bg-color-3);
}

.border:focus {
	border-bottom: 0.45rem solid var(--main-special-bg-color-4);
}

.border-2 {
	outline-color: rgba(255, 255, 255, 0.1);
	border: 0.15rem solid var(--main-special-bg-color-2);
}

.border-2:hover {
	border: 0.3rem solid var(--main-special-bg-color-3);
}

.border-2:focus {
	border: 0.45rem solid var(--main-special-bg-color-4);
}
