.box-shadow {
	box-shadow: 0.2rem 0.2rem 0.2rem var(--main-bg-color-1_4),
		-0.2rem -0.2rem 0.2rem var(--main-bg-color-1_4);
}

.box-shadow:hover {
	box-shadow: 0.3rem 0.3rem 0.3rem var(--main-bg-color-1_3),
		-0.3rem -0.3rem 0.3rem var(--main-bg-color-1_3);
}

.box-shadow:focus,
.box-shadow:focus-visible,
.box-shadow:focus-within {
	box-shadow: 0.4rem 0.4rem 0.4rem var(--main-bg-color-1_2),
		-0.4rem -0.4rem 0.4rem var(--main-bg-color-1_2);
}
