.cover_photo-outer-container,
.profile_picture-outer-container {
	width: 100%;
}

.cover_photo-inner-container,
.profile_picture-inner-container {
	position: relative;
	background: var(--main-bg-color-3);
}

.cover_photo-inner-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.cover_photo-container {
	width: 100%;
	height: 20rem;
	position: relative;
}

.cover_photo {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.cover_photo-container .edit-button {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	z-index: 9;
}

.cover_photo-container:hover .edit-button,
.cover_photo-container:focus-within .edit-button {
	opacity: 1;
}

.profile_picture-outer-container {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
}

.profile_picture-container {
	width: 15rem;
	height: 15rem;
	margin: auto;
	position: relative;
}
.profile_picture-inner-container {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.profile_picture {
	width: 105%;
	height: 105%;
}

.profile_picture-container .edit-button {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	z-index: 9;
}

.profile_picture-container:hover .edit-button,
.profile_picture-container:focus-within .edit-button {
	opacity: 1;
}
