.AccordionItem {
	margin-top: 0.1rem;
}
.AccordionItem:first-child {
	margin-top: 0;
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
}
.AccordionItem:last-child {
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
}
.AccordionItem:focus-within {
	position: relative;
	z-index: 1;
	box-shadow: 0 0 0 2px #ddd;
}
