.main {
	display: flex;
	/* flex-wrap: wrap; */
	align-items: flex-start;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}

.main > section {
	overflow-y: auto;
	flex: 1 1 50%;
	height: 100%;
	margin: auto 0.5em;
	max-height: 100vh;
	display: flex;
	justify-content: flex-start;
	height: 100%;
}
