.mainIntro {
	--svg-stroke: 40477;
	user-select: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc(15rem + 10vw);
	height: calc(5rem + 7.25vw);
	min-width: 20rem;
	min-height: 10rem;
	max-width: 75rem;
	max-height: 40rem;
	background-color: var(--main-special-bg-color-5);
	z-index: 10;
	transform: translateX(-100%);
	pointer-events: none;
	transition: all 0.6s ease-in-out 1s;
}

.mainIntro.animate {
	animation: removeMainIntroInHorizontally 2s ease-in-out forwards;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}

.svgContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	min-width: 90%;
	max-width: 90%;
	margin: auto;
	background-color: transparent;
	transition-duration: 0s;
}

.mainIntro svg {
	width: 100%;
	height: 100%;
	stroke-dasharray: var(--svg-stroke);
	stroke-dashoffset: var(--svg-stroke);
}

.mainIntro.animate .svgContainer.drawSignature svg {
	animation: svgAnimation 0.8s ease-in forwards 0.4s;
}

/**/

.mainIntro.window-is-vertical .svgContainer {
	height: 20vh;
	transform: rotate(90deg);
}

@keyframes removeMainIntroInHorizontally {
	0% {
		transform: translateX(-100%);
	}
	20% {
		transform: translateX(0%);
	}
	80% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes svgAnimation {
	to {
		opacity: 1;
		stroke-dashoffset: 0;
	}
	/* 0% {
		opacity: 1;
		stroke-dashoffset: calc(var(--svg-stroke) * 1);
	}
	25% {
		opacity: 1;
		stroke-dashoffset: calc(var(--svg-stroke) * 0.75);
	}
	50% {
		opacity: 1;
		stroke-dashoffset: calc(var(--svg-stroke) * 0.5);
	}
	75% {
		opacity: 1;
		stroke-dashoffset: calc(var(--svg-stroke) * 0.25);
	}
	100% {
		opacity: 1;
		stroke-dashoffset: calc(var(--svg-stroke) * 0);
	} */
}
