.form-controls-2 {
	max-width: 100%;
	margin: 0.25em;
	margin-left: 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	transition: all ease-in 0.6s;
}

@media screen and (max-width: 700px) {
	.form-controls-2 {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
