.input {
	height: 2.5rem;
	max-width: 100%;
	width: var(--input-width);
	/* min-height: fit-content; */
	background-color: transparent;
	transition: all var(--main-transition-duration) ease-in;
	padding: 0 0.125em;

	border-color: rgba(255, 255, 255, 0.1);

	border: 0rem solid transparent;
	border-bottom: 0.15rem solid var(--pc1);
}

input:not([type='hidden']):not([type='radio']):not([disabled]):not([tabindex^='-']):focus.input {
	outline-color: rgba(0, 0, 0, 0.2);
	outline-style: solid;
	outline-width: 0rem;
}

.input:hover {
	border-bottom: 0.3rem solid var(--main-special-bg-color-3);
}

.input:not([type='text']):focus,
.input:not([type='checkbox']):focus {
	min-height: 3rem;
	font-size: calc(var(--current-font-size) + 0.2rem);
	padding: 0.125em var(--padding-main-1-quarter);
	margin-top: var(--padding-main-1-quarter);
	margin-bottom: var(--padding-main-1-quarter);
	background-color: var(--main-special-bg-color-1);
	/* --pc3a: 0.5;
	background-color: var(--pc3); */

	border-bottom: 0.45rem solid var(--pc4);
	padding: 0.75em 0.25em;
}

body:global(.dark) .input:not([type='checkbox']):focus {
	background-color: transparent;
}
@media (prefers-color-scheme: dark) {
	body:not(:global(.light)) .input:not([type='checkbox']):focus {
		background-color: transparent;
	}
}

/* .input-radio {
} */
