.temp-test {
	/* --main-font-color: var(--color-1-20);
	--main-font-color-light: var(--color-1-95);
	--main-font-color-dark: var(--color-1-15);

	--main-bg-color: var(--color-2-100);
	--main-bg-color-dark: var(--color-2-15);
	--main-bg-color-light: var(--color-2-45);

	--main-special-color: var(--color-2-95);
	--main-special-color-dark: var(--color-2-15);
	--main-special-color-light: var(--color-2-45); */

	--main-font-color: var(--color-1-30);
	--main-font-color-light: var(--color-1-95);
	--main-font-color-dark: var(--color-1-10);

	--main-bg-color: var(--color-2-95);
	--main-bg-color-light: var(--color-1-100);
	--main-bg-color-dark: var(--color-1-25);

	--main-special-color: var(--color-2-45);
	--main-special-color-dark: var(--color-2-15);
	--main-special-color-light: var(--color-2-95);

	min-height: 50vh;
	border: 0.1rem solid black;
}

.temp-header {
	width: 100%;
	color: var(--main-font-color-light);
	background-color: var(--main-bg-color-dark);
	display: flex;
	justify-content: space-evenly;
	padding: 0 0.25em;
	align-items: center;
}

.temp-logo,
.temp-header nav,
.temp-header nav ul {
	height: 100%;
}

.temp-header nav ul {
	display: flex;
}

.temp-header nav ul li {
	width: 1rem;
	padding: 0.25em;
	margin: 0.25em;
	border: 0.1rem solid var(--main-font-color-light);
}

.temp-logo {
}

.temp-container {
	margin: 0.25em;
	padding: 0.5em;
	border: 0.1rem solid black;
}

.temp-content {
}

.temp-main {
	display: flex;
}

.temp-colors {
	min-height: 5rem;
}

.font-color {
	color: var(--main-font-color);
}
.font-color-light {
	color: var(--main-font-color-light);
}
.font-color-dark {
	color: var(--main-font-color-dark);
}

.bg-color {
	background-color: var(--main-bg-color);
}
.bg-color-light {
	background-color: var(--main-bg-color-light);
}
.bg-color-dark {
	background-color: var(--main-bg-color-dark);
}

.special-colors {
	background-color: var(--main-special-color);
}
.special-colors-light {
	background-color: var(--main-special-color-light);
}
.special-colors-dark {
	background-color: var(--main-special-color-dark);
}
