.logo a {
	font-size: var(--size-16);
}

.nav,
.nav * {
	color: var(--main-special-2-font-color-1);
}

.nav .nav-list button {
	background-color: transparent;
	padding: 0.5em 0.75em;
	border: 0.1rem solid var(--main-special-2-font-color-1);
	outline-color: var(--main-special-2-font-color-1);
}
body:not([dir='rtl']) .nav li button {
	margin-left: auto;
}
body[dir='rtl'] .nav li button {
	margin-right: auto;
}
