.container {
	margin: 0.5em auto;
	padding: 0.5em;
	width: 95%;
	transition: all 0.25s ease-in-out;
}

.container-max-width {
	/* max-width: 50rem; */
}

.modal-wrapper {
	width: 90%;
	max-width: 200rem;
}

.modal-container {
	background: var(--main-color-1-100);
}

@media screen and (max-width: 700px) {
	.container {
		width: fit-content;
		width: 100%;
	}
}
