.container {
	max-width: 50rem;
	margin: 0.5em;
	padding: 0.5em;
	width: 100%;
	transition: all 0.25s ease-in-out;
}

.container-max-width {
	max-width: 50rem;
}

.modal-wrapper {
	width: 90%;
	max-width: none;
}

.modal-container {
	background: rgba(255, 255, 255); /* var(); */
}
