.wrapper {
	width: 100%;
	padding: 0.5em;
	margin: 1em auto;
	border-radius: 1rem;
	box-shadow: 0rem 0rem var(--wrapper-box-shadow-length)
		var(--main-font-color-1);
	overflow: hidden;
	background-color: var(--main-bg-color-1);
}

.wrapper:first-child {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.wrapper:last-child {
	margin-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.full-width {
	width: 100%;
}

@media screen and (max-width: 700px) {
	.wrapper {
		margin: 0.5em auto;
	}
}
