.modal-mask {
	/* position: fixed; */
	position: absolute;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: table;
	transition: opacity 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow-y: auto;
	overflow-x: hidden;
}

.modal-wrapper {
	margin: 0.5em auto;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 80%;
	max-width: 60rem;
}

.modal-container {
	width: 100%;
	margin: auto;
	border-radius: 0.2rem;
	box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.33);
	transition: all 0.3s ease;
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgba(255, 255, 255, 0.95);
}

.modal-header {
	/* background-color: var(--bg-dark); */
	padding-top: 0.5em;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	text-align: center;
}

.modal-body {
	padding: 1em 0.5em;
	/* max-width: fit-content; */
	margin: auto;
}

.modal-footer {
	padding: 0em 0.5em 0.5em 0.5em;
	display: flex;
	justify-content: space-between;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.btn {
	font: inherit;
	cursor: pointer;
	padding: 0.8rem 2.4rem;
	border-radius: 0.4rem;
	background-color: #38015c;
	color: white;
	border: 0.1rem solid #38015c;
}

.btn:hover {
	background-color: #540d83;
	border-color: #540d83;
}

.btn:focus {
	background-color: #2a0642;
	border-color: #2a0642;
}
