/* body .FormControl {
	--FormControl-min-width: none;
} */

.FormControl {
	max-width: 100%;
	margin: var(--padding-main-1-half) var(--padding-main-1-quarter);
	display: flex;
	flex-direction: column;
	min-width: var(--FormControl-min-width);
	/* align-items: flex-start; */
	justify-content: center;
	transition: all ease-in var(--main-transition-duration);
}

/* .align-center {
	margin: 0.5em auto;
	justify-content: center;
	align-items: center;
} */
