.feed {
	width: 99%;
	min-width: fit-content;
	margin: 1em auto;
	box-shadow: 0rem 0rem 2rem var(--main-bg-color-5);
	transform: translateZ(2rem);
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-around;
}
