.input {
	height: 2.5rem;
	min-height: fit-content;
	padding: 0.25em;
	background-color: transparent;
	transition: all 0.3s ease-in;
}

.input:focus {
	height: 3rem;
	font-size: calc(var(--current-font-size) + 0.2rem);
	padding: 0.5em;
	padding-bottom: 0.25em;
	background-color: var(--main-special-bg-color-1);
}

.input-radio {
}
