/*----------------------------*/
/* GLOBAL STYLES */
/*----------------------------*/
/* ::-webkit-scrollbar { */
/* 	/* width: calc(1.5rem + 0.2vw); */
/* } */
/* ::-webkit-scrollbar-track { */
/* 	background: var(--main-font-color); */
/* } */
/* ::-webkit-scrollbar-thumb { */
/* 	background: var(--main-bg-color); */
/* 	border-radius: 1rem; */
/* } */
/* ::-webkit-scrollbar-button { */
/* 	background: var(--main-bg-color); */
/* } */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap'); */

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;

	--size-1: 0.2rem;
	--size-2: 0.4rem;
	--size-3: 0.6rem;
	--size-4: 0.8rem;
	--size-5: 1rem;
	--size-6: 1.2rem;
	--size-8: 1.4rem;
	--size-9: 1.6rem;
	--size-10: 1.8rem;
	--size-11: 2rem;
	--size-12: 2.2rem;
	--size-13: 2.4rem;
	--size-14: 2.6rem;
	--size-15: 2.8rem;
	--size-16: 3rem;
	--size-17: 3.2rem;
	--size-18: 3.4rem;

	--size-19: 3.6rem;
	--size-20: 3.8rem;
	--size-21: 4rem;
	--size-22: 4.2rem;
	--size-23: 4.4rem;
	--size-24: 4.6rem;
	--size-25: 4.8rem;
	--size-26: 5rem;

	--size-27: 5.2rem;
	--size-28: 5.4rem;
	--size-29: 5.6rem;
	--size-30: 5.8rem;

	--size-31: 6rem;
	--size-32: 6.2rem;

	--header1: var(--size-25);
	--header2: var(--size-22);
	--header3: var(--size-20);
	--header4: var(--size-18);
	--header5: var(--size-16);
	--header6: var(--size-14);

	--color-1-100: hsl(0, 0%, 100%); /* 	#ffffff	rgb(255, 255, 255) */
	--color-1-100-95: hsl(0, 0%, 100%, 0.95);
	--color-1-95: hsl(0, 0%, 95%); /* 	#f2f2f2	rgb(242, 242, 242) */
	--color-1-90: hsl(0, 0%, 90%); /* 	#e6e6e6	rgb(230, 230, 230) */
	--color-1-85: hsl(0, 0%, 85%); /* 	#d9d9d9	rgb(217, 217, 217) */
	--color-1-80: hsl(0, 0%, 80%); /* 	#cccccc	rgb(204, 204, 204) */
	--color-1-75: hsl(0, 0%, 75%); /* 	#bfbfbf	rgb(191, 191, 191) */
	--color-1-70: hsl(0, 0%, 70%); /* 	#b3b3b3	rgb(179, 179, 179) */
	--color-1-65: hsl(0, 0%, 65%); /* 	#a6a6a6	rgb(166, 166, 166) */
	--color-1-60: hsl(0, 0%, 60%); /* 	#999999	rgb(153, 153, 153) */
	--color-1-55: hsl(0, 0%, 55%); /* 	#8c8c8c	rgb(140, 140, 140) */
	--color-1-50: hsl(0, 0%, 50%); /* 	#808080	rgb(128, 128, 128) */
	--color-1-45: hsl(0, 0%, 45%); /* 	#737373	rgb(115, 115, 115) */
	--color-1-40: hsl(0, 0%, 40%); /* 	#666666	rgb(102, 102, 102) */
	--color-1-35: hsl(0, 0%, 35%); /* 	#595959	rgb(89, 89, 89) */
	--color-1-30: hsl(0, 0%, 30%); /* 	#4d4d4d	rgb(77, 77, 77) */
	--color-1-25: hsl(0, 0%, 25%); /* 	#404040	rgb(64, 64, 64) */
	--color-1-20: hsl(0, 0%, 20%); /* 	#333333	rgb(51, 51, 51) */
	--color-1-15: hsl(0, 0%, 15%); /* 	#262626	rgb(38, 38, 38) */
	--color-1-10: hsl(0, 0%, 10%); /* 	#1a1a1a	rgb(26, 26, 26) */
	--color-1-5: hsl(0, 0%, 5%); /* 	#0d0d0d	rgb(13, 13, 13) */
	--color-1-0-95: hsl(0, 0%, 0%, 0.95);
	--color-1-0: hsl(0, 0%, 0%); /* 	#000000	rgb(0, 0, 0) */

	--color-2-100: hsl(300, 100%, 100%); /* #ffffff	rgb(255, 255, 255) */
	--color-2-95: hsl(300, 100%, 95%); /* #ffe6ff	rgb(255, 230, 255) */
	--color-2-90: hsl(300, 100%, 90%); /* #ffccff	rgb(255, 204, 255) */
	--color-2-85: hsl(300, 100%, 85%); /* #ffb3ff	rgb(255, 179, 255) */
	--color-2-80: hsl(300, 100%, 80%); /* #ff99ff	rgb(255, 153, 255) */
	--color-2-75: hsl(300, 100%, 75%); /* #ff80ff	rgb(255, 128, 255) */
	--color-2-70: hsl(300, 100%, 70%); /* #ff66ff	rgb(255, 102, 255) */
	--color-2-65: hsl(300, 100%, 65%); /* #ff4dff	rgb(255, 77, 255) */
	--color-2-60: hsl(300, 100%, 60%); /* #ff33ff	rgb(255, 51, 255) */
	--color-2-55: hsl(300, 100%, 55%); /* #ff1aff	rgb(255, 26, 255) */
	--color-2-50: hsl(300, 100%, 50%); /* #ff00ff	rgb(255, 0, 255) */
	--color-2-45: hsl(300, 100%, 45%); /* #e600e6	rgb(230, 0, 230) */
	--color-2-40: hsl(300, 100%, 40%); /* #cc00cc	rgb(204, 0, 204) */
	--color-2-35: hsl(300, 100%, 35%); /* #b300b3	rgb(179, 0, 179) */
	--color-2-30: hsl(300, 100%, 30%); /* #990099	rgb(153, 0, 153) */
	--color-2-25: hsl(300, 100%, 25%); /* #800080	rgb(128, 0, 128) */
	--color-2-20: hsl(300, 100%, 20%); /* #660066	rgb(102, 0, 102) */
	--color-2-15: hsl(300, 100%, 15%); /* #4d004d	rgb(77, 0, 77) */
	--color-2-10: hsl(300, 100%, 10%); /* #330033	rgb(51, 0, 51) */
	--color-2-5: hsl(300, 100%, 5%); /* #1a001a	rgb(26, 0, 26) */
	--color-2-0: hsl(300, 100%, 0%); /* #000000	rgb(0, 0, 0) */

	--current-font-size: var(--size-10);

	--main-bg-color-0: var(--color-1-100);
	--main-bg-color-0-95: var(--color-1-100-95);
	--main-bg-color-1: var(--color-1-100);
	--main-bg-color-2: var(--color-1-90);
	--main-bg-color-3: var(--color-1-25);
	--main-bg-color-4: var(--color-1-20);
	--main-bg-color-5: var(--color-1-15);

	--main-font-color-0: var(--color-1-0);
	--main-font-color-1: var(--color-1-5);
	--main-font-color-2: var(--color-1-15);
	--main-font-color-3: var(--color-1-70);
	--main-font-color-4: var(--color-1-90);
	--main-font-color-5: var(--color-1-100);

	--main-special-bg-color-0: var(--color-2-100);
	--main-special-bg-color-0-95: var(--color-2-100-95);
	--main-special-bg-color-1: var(--color-2-95);
	--main-special-bg-color-2: var(--color-2-85);
	--main-special-bg-color-3: var(--color-2-25);
	--main-special-bg-color-4: var(--color-2-20);
	--main-special-bg-color-5: var(--color-2-15);

	--main-special-font-color-0: var(--color-1-0);
	--main-special-font-color-1: var(--color-1-10);
	--main-special-font-color-2: var(--color-1-15);
	--main-special-font-color-3: var(--color-1-70);
	--main-special-font-color-4: var(--color-1-85);
	--main-special-font-color-5: var(--color-1-95);

	--main-special-2-bg-color-0: var(--color-1-100);
	--main-special-2-bg-color-1: var(--color-1-15);
	--main-special-2-bg-color-2: var(--color-1-25);
	--main-special-2-bg-color-3: var(--color-1-60);
	--main-special-2-bg-color-4: var(--color-1-75);
	--main-special-2-bg-color-5: var(--color-1-90);

	--main-special-2-font-color-1: var(--color-1-95);
	--main-special-2-font-color-2: var(--color-1-75);
	--main-special-2-font-color-3: var(--color-1-55);
	--main-special-2-font-color-4: var(--color-1-25);
	--main-special-2-font-color-5: var(--color-1-15);

	--wrapper-box-shadow-length: 1rem;
}

::selection {
	color: var(--main-special-bg-color-3);
	background: var(--main-special-font-color-4);
}

body.dark {
	--main-bg-color-0: var(--color-1-0);
	--main-bg-color-0-95: var(--color-1-0-95);

	--main-bg-color-1: var(--color-1-10);
	--main-bg-color-2: var(--color-1-15);
	--main-bg-color-3: var(--color-1-70);
	--main-bg-color-4: var(--color-1-90);
	--main-bg-color-5: var(--color-1-100);

	--main-font-color-0: var(--color-1-100);

	--main-font-color-1: var(--color-1-100);
	--main-font-color-2: var(--color-1-90);
	--main-font-color-3: var(--color-1-25);
	--main-font-color-4: var(--color-1-20);
	--main-font-color-5: var(--color-1-15);

	--wrapper-box-shadow-length: 0.25rem;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

html,
body {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	max-width: 150rem;
	margin: auto;
	font-family: 'Roboto', cursive, sans-serif;
	line-height: 1;
}

#__next {
	position: relative;
	min-width: 100%;
	min-height: 100vh;
	/* overflow-x: hidden; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

body {
	background: var(--main-bg-color-2);
	color: var(--main-font-color-1);
	overflow-y: auto;
	overflow-x: hidden;
}

/* main#main */
.main {
	max-width: 100%;
	width: 100%;
	min-height: 100vh;
	border-radius: 0.2rem;
	margin: 1em auto;
	padding: 0.5em;
}

body,
button,
p,
a {
	font-size: var(--current-font-size);
}

/* a,
button,
svg {
	font-size: calc(var(--current-font-size) * 1.05);
} */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

a,
li {
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

/* a, */
button,
select,
svg {
	color: inherit;
}

a {
	vertical-align: baseline;
	background: transparent;
}

input,
select {
	vertical-align: middle;
}

h1 {
	font-size: var(--header1);
}
h2 {
	font-size: var(--header2);
}
h3 {
	font-size: var(--header3);
}
h4 {
	font-size: var(--header4);
}
h5 {
	font-size: var(--header5);
}
h6 {
	font-size: var(--header6);
}

a,
a:hover,
a:link,
a:active,
a:focus,
a:visited {
	color: inherit;
}

button,
a {
	cursor: pointer;
}

button {
	background-color: transparent;
	border-color: transparent;
	outline-color: rgba(255, 255, 255, 0.1);
	user-select: none;
	min-width: 48px;
	min-height: 24px;
}

button:disabled {
	cursor: not-allowed;
}

input[type='radio'],
input[type='checkbox'] {
	accent-color: var(--main-special-bg-color-5);
}

.disable {
	pointer-events: none;
	filter: grayscale(1);
	user-select: none;
	cursor: not-allowed;
}

.text-glow-special,
a.text-glow-special,
button.text-glow-special,
svg.text-glow-special {
	--color: var(--main-special-bg-color-5);
	--color-focus: var(--main-special-bg-color-5);
	--color-hover: var(--main-special-bg-color-5);
	color: var(--color);
	text-shadow: 0rem 0rem 0.1rem var(--color);
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.text-glow-special:hover {
	color: var(--color-hover);
	text-shadow: 0rem 0rem 0.8rem var(--color-hover);
}
.text-glow-special:focus-within,
.text-glow-special:active,
.text-glow-special:visited {
	color: var(--color-focus);
	text-shadow: 0rem 0rem 0rem var(--color-focus);
	font-weight: 600;
}

body.dark .text-glow-special {
	--color: var(--main-special-bg-color-3);
	--color-focus: var(--main-special-bg-color-3);
	--color-hover: var(--main-special-bg-color-3);
}

.cursor-pointer {
	cursor: pointer;
}

.display-inline {
	display: inline;
}

.buttons-holder-padding-half-em > button {
	margin-right: 1em;
}
.buttons-holder-padding-half-em > button:last-child {
	margin-right: 0;
}

.font-size-inherit {
	font-size: inherit !important;
}

span.lazy-load-image-background,
span.lazy-load-image-background.blur {
	width: 100%;
	position: unset;
	display: block;
}

span.lazy-load-image-background img,
span.lazy-load-image-background.blur img {
	width: 100%;
	/* height: 100%; */
}

:root {
	--skeleton-loading-width: 100%;
	--skeleton-loading-height: 100%;
	--skeleton-loading-before-width: 25%;
	--skeleton-loading-animation-duration: 3s;
	--skeleton-loading-background: var(--main-bg-color-3);
	--skeleton-loading-before-background: linear-gradient(
		90deg,
		transparent,
		black
	);
}

.skeleton-loading {
	background: var(--skeleton-loading-background);
	position: relative;
	overflow: hidden;
	width: var(--skeleton-loading-width);
	height: var(--skeleton-loading-height);
}

.skeleton-loading::before {
	content: '';
	background: var(--skeleton-loading-before-background);
	height: 100%;
	width: var(--skeleton-loading-before-width);
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: 2;
	transform: translateX(-100%);
	animation: move var(--skeleton-loading-animation-duration) infinite;
}

@keyframes move {
	to {
		left: calc(100% + var(--skeleton-loading-before-width));
	}
}

@media screen and (max-width: 700px) {
	:root {
		font-size: 60%;

		--header1: var(--size-22);
		--header2: var(--size-20);
		--header3: var(--size-18);
		--header4: var(--size-16);
		--header5: var(--size-14);
		--header6: var(--size-12);

		--current-font-size: var(--size-10);
	}
}

@media screen and (max-width: 400px) {
	:root {
		font-size: 55%;
	}

	h1 {
		max-width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
	}
}

@media screen and (max-width: 250px) {
	h2 {
		/* max-width: 100%; */
		overflow-x: auto;
		overflow-y: hidden;
	}
}

/*


ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

*/
