/* #440044 */

/* Shades */
.primary-color-harmony-shades {
	/* hsl(300, 100%, 41%) #D100D1 */
	--pc1h: 300;
	--pc1s: 100%;
	--pc1l: 41%;
	--pc1a: 1;
	--pc1: hsla(var(--pc1h), var(--pc1s), var(--pc1l), var(--pc1a));

	/* hsl(300, 100%, 28%) #910091 */
	--pc2h: 300;
	--pc2s: 100%;
	--pc2l: 28%;
	--pc2a: 1;
	--pc2: hsla(var(--pc2h), var(--pc2s), var(--pc2l), var(--pc2a));

	/* hsl(300, 100%, 13%) #440044 */
	--pc3h: 300;
	--pc3s: 100%;
	--pc3l: 13%;
	--pc3a: 1;
	--pc3: hsla(var(--pc3h), var(--pc3s), var(--pc3l), var(--pc3a));

	/* hsl(300, 100%, 16%) #520052 */
	--pc4h: 300;
	--pc4s: 100%;
	--pc4l: 16%;
	--pc4a: 1;
	--pc4: hsla(var(--pc4h), var(--pc4s), var(--pc4l), var(--pc4a));

	/* hsl(300, 100%, 10%) #330033 */
	--pc5h: 300;
	--pc5s: 100%;
	--pc5l: 41%;
	--pc5a: 1;
	--pc5: hsla(var(--pc5h), var(--pc5s), var(--pc5l), var(--pc5a));
}

/* Analogous */
.primary-color-harmony-analogous {
	/* hsl(0, 91%, 17%) #520404 */
	--pc1h: 0;
	--pc1s: 91%;
	--pc1l: 17%;
	--pc1a: 1;
	--pc1: hsla(var(--pc1h), var(--pc1s), var(--pc1l), var(--pc1a));

	/* hsl(330, 90%, 19%) #5C0530 */
	--pc2h: 330;
	--pc2s: 90%;
	--pc2l: 19%;
	--pc2a: 1;
	--pc2: hsla(var(--pc2h), var(--pc2s), var(--pc2l), var(--pc2a));

	/* hsl(300, 100%, 13%) #440044 */
	--pc3h: 300;
	--pc3s: 100%;
	--pc3l: 13%;
	--pc3a: 1;
	--pc3: hsla(var(--pc3h), var(--pc3s), var(--pc3l), var(--pc3a));

	/* hsl(283, 90%, 19%) #44055C */
	--pc4h: 283;
	--pc4s: 90%;
	--pc4l: 19%;
	--pc4a: 1;
	--pc4: hsla(var(--pc4h), var(--pc4s), var(--pc4l), var(--pc4a));

	/* hsl(267, 91%, 17%) #270452 */
	--pc5h: 267;
	--pc5s: 91%;
	--pc5l: 17%;
	--pc5a: 1;
	--pc5: hsla(var(--pc5h), var(--pc5s), var(--pc5l), var(--pc5a));
}

/* Monochromatic */
.primary-color-harmony-monochromatic {
	/* hsl(300, 100%, 28%) #910091 */
	--pc1h: 300;
	--pc1s: 100%;
	--pc1l: 28%;
	--pc1a: 1;
	--pc1: hsla(var(--pc1h), var(--pc1s), var(--pc1l), var(--pc1a));

	/* hsl(300, 54%, 24%) #5E1C5E */
	--pc2h: 300;
	--pc2s: 54%;
	--pc2l: 24%;
	--pc2a: 1;
	--pc2: hsla(var(--pc2h), var(--pc2s), var(--pc2l), var(--pc2a));

	/* hsl(300, 100%, 13%) #440044 */
	--pc3h: 300;
	--pc3s: 100%;
	--pc3l: 13%;
	--pc3a: 1;
	--pc3: hsla(var(--pc3h), var(--pc3s), var(--pc3l), var(--pc3a));

	/* hsl(300, 53%, 37%) #912C91 */
	--pc4h: 300;
	--pc4s: 53%;
	--pc4l: 37%;
	--pc4a: 1;
	--pc4: hsla(var(--pc4h), var(--pc4s), var(--pc4l), var(--pc4a));

	/* hsl(300, 100%, 44%) #DE00DE */
	--pc5h: 300;
	--pc5s: 100%;
	--pc5l: 44%;
	--pc5a: 1;
	--pc5: hsla(var(--pc5h), var(--pc5s), var(--pc5l), var(--pc5a));
}

/* Triad */
.primary-color-harmony-triad {
	/* hsl(300, 81%, 31%) #910F91 */
	--pc1h: 300;
	--pc1s: 81%;
	--pc1l: 31%;
	--pc1a: 1;
	--pc1: hsla(var(--pc1h), var(--pc1s), var(--pc1l), var(--pc1a));

	/* hsl(47, 82%, 15%) #453807 */
	--pc2h: 47;
	--pc2s: 82%;
	--pc2l: 15%;
	--pc2a: 1;
	--pc2: hsla(var(--pc2h), var(--pc2s), var(--pc2l), var(--pc2a));

	/* hsl(300, 100%, 13%) #440044 */
	--pc3h: 300;
	--pc3s: 100%;
	--pc3l: 13%;
	--pc3a: 1;
	--pc3: hsla(var(--pc3h), var(--pc3s), var(--pc3l), var(--pc3a));

	/* hsl(170, 82%, 15%) #07453B */
	--pc4h: 170;
	--pc4s: 82%;
	--pc4l: 15%;
	--pc4a: 1;
	--pc4: hsla(var(--pc4h), var(--pc4s), var(--pc4l), var(--pc4a));

	/* hsl(171, 91%, 30%) #07917D */
	--pc5h: 171;
	--pc5s: 91%;
	--pc5l: 30%;
	--pc5a: 1;
	--pc5: hsla(var(--pc5h), var(--pc5s), var(--pc5l), var(--pc5a));
}

/* Complementary */
.primary-color-harmony-complementary {
	/* hsl(300, 100%, 28%) #910091 */
	--pc1h: 300;
	--pc1s: 100%;
	--pc1l: 28%;
	--pc1a: 1;
	--pc1: hsla(var(--pc1h), var(--pc1s), var(--pc1l), var(--pc1a));

	/* hsl(300, 81%, 31%) #910F91 */
	--pc2h: 300;
	--pc2s: 81%;
	--pc2l: 31%;
	--pc2a: 1;
	--pc2: hsla(var(--pc2h), var(--pc2s), var(--pc2l), var(--pc2a));

	/* hsl(300, 100%, 13%) #440044 */
	--pc3h: 300;
	--pc3s: 100%;
	--pc3l: 13%;
	--pc3a: 1;
	--pc3: hsla(var(--pc3h), var(--pc3s), var(--pc3l), var(--pc3a));

	/* hsl(99, 100%, 28%) #339100 */
	--pc4h: 99;
	--pc4s: 100%;
	--pc4l: 28%;
	--pc4a: 1;
	--pc4: hsla(var(--pc4h), var(--pc4s), var(--pc4l), var(--pc4a));

	/* hsl(99, 100%, 14%) #184500 */
	--pc5h: 99;
	--pc5s: 100%;
	--pc5l: 14%;
	--pc5a: 1;
	--pc5: hsla(var(--pc5h), var(--pc5s), var(--pc5l), var(--pc5a));
}

/* Split Complementary */
.primary-color-harmony-split-complementary {
	/* hsl(60, 81%, 31%) #91900F */
	--pc1h: 60;
	--pc1s: 81%;
	--pc1l: 31%;
	--pc1a: 1;
	--pc1: hsla(var(--pc1h), var(--pc1s), var(--pc1l), var(--pc1a));

	/* hsl(59, 92%, 14%) #454403 */
	--pc2h: 59;
	--pc2s: 92%;
	--pc2l: 14%;
	--pc2a: 1;
	--pc2: hsla(var(--pc2h), var(--pc2s), var(--pc2l), var(--pc2a));

	/* hsl(300, 100%, 13%) #440044 */
	--pc3h: 300;
	--pc3s: 100%;
	--pc3l: 13%;
	--pc3a: 1;
	--pc3: hsla(var(--pc3h), var(--pc3s), var(--pc3l), var(--pc3a));

	/* hsl(137, 81%, 31%) #0F9134 */
	--pc4h: 137;
	--pc4s: 81%;
	--pc4l: 31%;
	--pc4a: 1;
	--pc4: hsla(var(--pc4h), var(--pc4s), var(--pc4l), var(--pc4a));

	/* hsl(137, 92%, 14%) #034516 */
	--pc5h: 137;
	--pc5s: 92%;
	--pc5l: 14%;
	--pc5a: 1;
	--pc5: hsla(var(--pc5h), var(--pc5s), var(--pc5l), var(--pc5a));
}

/* Double Split Complementary */

/* Square */

/* Compound */
