.header {
	width: 100%;
	min-height: 6rem;
	background-color: var(--main-special-bg-color-5);
	box-shadow: 1rem 0.5rem 1.5rem rgb(0 0 0 / 50%),
		-2rem 0.5rem 2rem rgb(0 0 0 / 50%);
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 10;
}

.ul,
.li,
.logo {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.li {
	margin: auto 0.25em;
}

.ul,
.li {
	list-style: none;
}

.header,
.header .button {
	color: var(--main-special-font-color-5);
}

.logo {
	/* font-weight: 700; */
}

.logo a {
	font-size: var(--size-16);
}

.li a,
.li .button {
	font-weight: bold;
	border-radius: 0.5rem;
	transition: all ease-in-out 0.3s;
}

.li a {
	padding: 0.5em 0.75em;
	border: 0.1rem solid transparent;
}

.li .button {
	background-color: transparent;
	padding: 0.5em 0.75em;
	border: 0.1rem solid var(--main-special-font-color-5);
	outline-color: var(--main-special-font-color-5);
}

.li a:hover,
.header .button:hover {
	color: var(--main-special-bg-color-3);
}

.header .button:hover,
.li a:hover {
	border: 0.1rem solid var(--main-special-bg-color-2);
}

.header .button:hover {
	outline-color: var(--main-special-bg-color-2);
}
